aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.10.0
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
billiard==4.2.2
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
channels==4.2.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.3
daphne==4.1.2
dateparser==1.2.2
Django==5.2.3
django-cors-headers==4.7.0
django-csp==4.0
django-filter==25.1
django-redis==5.4.0
django-simple-history==3.10.1
django-user-agents==0.4.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.27.2
et_xmlfile==2.0.0
frozenlist==1.8.0
gunicorn==23.0.0
hyperlink==21.0.0
icalendar==6.3.2
idna==3.11
incremental==24.7.2
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
multidict==6.7.0
openpyxl==3.1.5
packaging==25.0
pillow==10.4.0
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.9.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.3
redis==6.2.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rpds-py==0.28.0
sentry-sdk==2.44.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
twilio==9.8.6
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritemplate==4.2.0
urllib3==2.5.0
user-agents==2.2.0
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.7.0
yarl==1.22.0
zope.interface==8.1.1
